.CoinTable tr td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.CoinTable td {
    text-align: center;
    border-bottom: 2px white solid;
}

.CoinTable th {
    padding-bottom: 20px;
}

.CoinTable td.red {
    color: red;
}

.CoinTable td.green {
    color: green;
}

.CoinTableDiv {
    padding-top: 30px;
}